<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TransmittalManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AWS" connectionString="Server=mydefaultdb.curg5pnvqvyj.ap-southeast-2.rds.amazonaws.com,1433;Database=mydefaultdb;User Id=admin;Password=password;"/>
    <add name="PDMVault" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GekkoVault;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <userSettings>
    <TransmittalManager.Properties.Settings>
      <setting name="PDMUserRights" serializeAs="String">
        <value>Drafters</value>
      </setting>
      <setting name="PDMIssuerRights" serializeAs="String">
        <value>Librarians</value>
      </setting>
    </TransmittalManager.Properties.Settings>
  </userSettings>
</configuration>